<div>
  <div class="user-list col-3">
    <div>
      <div *ngFor="let user of gameroomUsers">
        {{ user.username }}
      </div>
    </div>
  </div>
  <div class="col-6">
    <div *ngFor="let mines of mineField" class="mine-field-row">
      <mine *ngFor="let mine of mines" [mine]="mine" (changedMinesEvent)="updateMineField($event)"></mine>
    </div>
  </div>
  <div class="chat-space col-3">
    <div class="chat-area">
      <p *ngFor="let message of chatRoomMessages">
        {{ message }}
      </p>
    </div>
    <div>
      <input type="text" class="message-field" [(ngModel)]="messageField">
      <button class="submit-message" (click)="sendMessage()">
        Submit
      </button>
    </div>
  </div>
</div>
