.chat-area {
  width: 20em;
  height: 40em;
  border: 1px solid gray;
  background-color: #ccc;
}

.mine-field-row {
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.mine-element {

}

.frame {
  padding: 20px;
  background: lightgray;
}

.chat-space {
  display: flex;
  width: 100%;
}